<app-games-statuses-panel
  [sport]="'football'"
></app-games-statuses-panel>
<ng-container *ngIf="!loading; else loadingTemp">
  <ng-container *ngIf="games">
    <div *ngIf="games.length === 0" class="error">no games now</div>
    <mat-list class="list">
      <mat-list-item *ngFor="let game of games" (click)="openGame(game.id)">
        <div class="game">
          <div class="time">
            <div *ngIf="this.typeOfGames == 'live'; else gameTime">
              {{game.time.tm}}
            </div>
            <ng-template #gameTime>
              {{+game.startTime * 1000 | date: 'd/MM HH:mm'}}
            </ng-template>
          </div>
          <div class="league">
            <img width="20px" height="15px" src="https://assets.betsapi.com/v2/images/flags/{{game.league.cc}}.svg"
                 alt="">
            {{game.league.name}}:
          </div>
          <div class="home">
            {{game.home.name}}
          </div>
          <div class="scores">
            <div *ngIf="this.typeOfGames == 'live'; else vs">
              {{game.scores}}
            </div>
            <ng-template #vs>
              vs
            </ng-template>
          </div>
          <div class="away">
            {{game.away.name}}
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </ng-container>
</ng-container>
<ng-template #loadingTemp>
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
