
a:hover {
  background-color: #ccc;
}

mat-button-toggle-group, mat-progress-spinner {
  margin: 10px auto;
}

.search-items {
  display: flex;
  justify-content: space-between;
  margin-top: -52px;

  mat-paginator {
    margin-left: auto;
  }

  @media screen and (max-width: 1080px) {
    margin-top: 0;
    app-search-item {
      margin: auto 0;
      max-width: 50%;
    }
    mat-paginator {
      min-width: 50%;
      margin-left: auto;
    }
  }

  ::ng-deep .mat-paginator-page-size {
    display: none;
  }
}

.list, .error {
  margin: 0 20%;
  padding-bottom: 20px;
  @media screen and (max-width: 1400px) {
    margin: 10px 10%;
  }
  @media screen and (max-width: 1080px) {
    margin: 10px 0;
  }
}

.error {
  border-bottom: var(--primary-color) 1px solid;
  text-align: center;
}

::ng-deep a {
  max-height: 30px;
  @media screen and (max-width: 1080px) {
    max-height: 50px;
  }

  &:last-child {
    ::ng-deep .mat-list-item-content {
      border-bottom: 0;
    }
  }

  ::ng-deep .mat-list-item-content {
    max-height: 30px;
    @media screen and (max-width: 1080px) {
      max-height: 50px;
    }
    padding: 0 !important;
    border-bottom: var(--primary-color) 1px solid;
  }
}

.game {
  width: 100%;
  display: flex;
  font-size: 10px;
  padding: 0 2px;

  .time, .scores {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8%;
    @media screen and (max-width: 1080px) {
      width: 7%;
    }
  }

  .time {
    @media screen and (max-width: 1080px) {
      width: 11%;
    }
  }

  .teams {
    height: 40px;
    width: 41%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .home, .away, .league {
    width: 28%;
    @media screen and (max-width: 1080px) {
      width: 41%;
    }
  }

  .home {
    text-align: right;
  }

  .away {
    text-align: left;
  }

  .league {
    display: flex;
    align-items: center
  }

}

p {
  margin: 0;
}

img {
  width: 20px;
  float: left;
  height: 15px;
}

mat-spinner {
  margin: 10px auto;
  color: var(--text-color);
}

