<app-games-statuses-panel
  [sport]="'football'"
></app-games-statuses-panel>
<div class="search-items">
  <app-search-item *ngIf="searchItem" [searchItem]="searchItem"></app-search-item>
  <mat-paginator
    aria-label="Select page"
    [length]="countOfGames"
    [pageSize]="perPage"
    (page)="nextPage($event)"
  >
  </mat-paginator>
</div>
<ng-container *ngIf="!loading; else loadingTemp">
  <ng-container *ngIf="games">
    <div *ngIf="games.length === 0" class="error">no games now</div>
    <mat-list class="list">
      <mat-list-item *ngFor="let game of games" (click)="openGame(game.id)">
        <div class="game">
          <div class="time">
            <div *ngIf="this.typeOfGames == 'live'; else gameTime">
              {{game.time.tm}}
            </div>
            <ng-template #gameTime>
              {{+game.startTime * 1000 | date: 'd/MM HH:mm'}}
            </ng-template>
          </div>
          <div class="league">
            <img
              src="https://assets.betsapi.com/v2/images/flags/{{game.league.cc}}.svg"
              alt=""
              onerror="this.style.display='none'"
            >
            <p>{{game.league.name}}</p>
          </div>
          <ng-container *ngIf="isMobile;else desktop">
            <div class="teams">
              <p>
                {{game.home.name}}
              </p>
              <p>
                {{game.away.name}}
              </p>
            </div>
            <div class="scores">
              <p *ngIf="this.typeOfGames == 'prematch'; else vs">
              </p>
              <ng-template #vs>
                <p>
                  {{game.scores}}
                </p>
              </ng-template>
            </div>
          </ng-container>
          <ng-template #desktop>
            <div class="home">
              {{game.home.name}}
            </div>
            <div class="scores">
              <div *ngIf="this.typeOfGames == 'prematch'; else vs">
                vs
              </div>
              <ng-template #vs>
                <p>
                  {{game.scores}}
                </p>
              </ng-template>
            </div>
            <div class="away">
              {{game.away.name}}
            </div>
          </ng-template>
        </div>
      </mat-list-item>
    </mat-list>
  </ng-container>
</ng-container>
<ng-template #loadingTemp>
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>
