<ng-template #showLoading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="!loading; else showLoading">
  <app-game-info-header [game]="game" [sport]="'football'"></app-game-info-header>
  <app-market-switcher
    (marketChanged)="onChangeMarket($event)"
    [markets]="game.markets || []"
  ></app-market-switcher>
  <div class="tables">
    <app-table *ngFor="let market of markets" [sport]="'football'" [market]="market" [signalRating]="0.6"></app-table>
  </div>
</ng-container>
