<div class="info-wrapper">
  <div class="up-line">
    <div class="league">
      <img
        src="https://assets.betsapi.com/v2/images/flags/{{game.league.cc}}.svg"
        alt=""
        onerror="this.style.display='none'"
      >
      <a
        [appNoLink]="true"
        [routerLink]="'/dashboard/football/'"
        [queryParams]="{'league_id':game.league.id}"
      >{{game.league.name}}</a>
    </div>
    <p class="time">
      <ng-container *ngIf="this.game.status === '1'; else gameTime">
        <ng-container *ngIf="sport==='basketball'">
          {{game.time.q}} - {{game.time.tm | number:'2.0-0'}}:{{game.time.ts | number:'2.0-0'}}
        </ng-container>
        <ng-container *ngIf="sport==='football'">
          {{game.time.tm}}
        </ng-container>
      </ng-container>
      <ng-template #gameTime>
        {{+game.time * 1000 | date: 'd/MM HH:mm'}}
      </ng-template>
    </p>
  </div>
  <div class="teams-wrapper">
    <a
      class="team1"
      [appNoLink]="true"
      [routerLink]="'/dashboard/football/'"
      [queryParams]="{'team_id':game.team1.id}"
    >{{game.team1.name}}</a>
    <div class="score">{{game.score}}</div>
    <a
      class="team2"
      [appNoLink]="true"
      [routerLink]="'/dashboard/football/'"
      [queryParams]="{'team_id':game.team2.id}"
    >{{game.team2.name}}</a>
  </div>
</div>
