<div class="wrapper">
  <div class="header">{{name}}</div>
  <table mat-table [dataSource]="columns" class="table">
    <ng-container matColumnDef="time_str">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let element"> {{element.time_str}} </td>
    </ng-container>
    <ng-container matColumnDef="ss">
      <th mat-header-cell *matHeaderCellDef>Score</th>
      <td mat-cell *matCellDef="let element"> {{element.ss}} </td>
    </ng-container>
    <ng-container matColumnDef="row1">
      <th mat-header-cell *matHeaderCellDef>Over</th>
      <td mat-cell *matCellDef="let element"> {{element.row1}} </td>
    </ng-container>
    <ng-container matColumnDef="row2">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element"> {{element.row2}} </td>
    </ng-container>
    <ng-container matColumnDef="row3">
      <th mat-header-cell *matHeaderCellDef>Under</th>
      <td mat-cell *matCellDef="let element"> {{element.row3}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayRows"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayRows"></tr>
  </table>
</div>
